:root {
  --grid-rows: 1;
  --grid-cols: 1;
}

body {
  margin: 40px 80px;
  padding: 0;
}

.sketch_container {
  display: grid;
  width: 600px;
  align-items: center;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 1px solid black;
  margin: 0 auto;
}

.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  aspect-ratio: 1;
  color: transparent;
}
